# Exploración Inicial de Datos

## Importamos librerías

In [1]:
from pathlib import Path 
import numpy as np 
import pandas as pd 
import pyarrow as pa

## Load Data

In [2]:
DATA_DIR = Path.cwd() / "data"  # Ajustado para tu estructura real
melbourne_df = pd.read_csv(DATA_DIR / "01_raw/melbourne_raw.csv")

## Data description

In [3]:
melbourne_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57770 entries, 0 to 57769
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Longtitude     44562 non-null  float64
 1   BuildingArea   22866 non-null  float64
 2   Type           57768 non-null  object
 3   SellerG        57768 non-null  object
 4   Distance       57766 non-null  float64
 5   Landsize       38207 non-null  float64
 6   Postcode       57766 non-null  float64
 7   Date           57768 non-null  object
 8   Price          45189 non-null  float64
 9   Bathroom       44143 non-null  float64
 10  Rooms          57768 non-null  float64
 11  Regionname     57764 non-null  object
 12  Car            43293 non-null  float64
 13  CouncilArea    57764 non-null  object
 14  Address        57768 non-null  object
 15  Method         57768 non-null  object
 16  Propertycount  57764 non-null  float64
 17  Bedroom2       44155 non-null  float64
 18  Lattitude      44562 non-null  float64
 19  YearBuilt      25843 non-null  float64
 20  Suburb         57768 non-null  object
dtypes: float64(13), object(8)
memory usage: 9.3+ MB

In [4]:
melbourne_df.sample(10)

,Longtitude,BuildingArea,Type,SellerG,Distance,Landsize,Postcode,Date,Price,Bathroom,...,Regionname,Car,CouncilArea,Address,Method,Propertycount,Bedroom2,Lattitude,YearBuilt,Suburb
42084,145.06960,130.0,h,Nelson,10.3,733.0,3084.0,10/12/2016,NaN,1.0,...,Eastern Metropolitan,1.0,Banyule City Council,41 Glenard Dr,PN,1651.0,2.0,-37.76270,1950.0,Eaglemont
45891,145.12306,NaN,h,Jellis,12.4,794.0,3108.0,17/06/2017,NaN,1.0,...,Eastern Metropolitan,1.0,Manningham City Council,20 Eildon St,S,9028.0,3.0,-37.79389,NaN,Doncaster
10014,145.00440,202.0,h,Buxton,11.2,655.0,3186.0,10/09/2016,1562500.0,2.0,...,Southern Metropolitan,2.0,Bayside City Council,176 Were St,PI,10579.0,5.0,-37.92640,1925.0,Brighton
36520,144.89853,NaN,h,YPA,16.5,555.0,3049.0,17/03/2018,575000.0,1.0,...,Northern Metropolitan,0.0,Hume City Council,3 Capri Ct,S,2474.0,3.0,-37.68017,NaN,Westmeadows
11860,144.96605,NaN,h,Raine,13.1,690.0,3060.0,24/02/2018,879500.0,1.0,...,Northern Metropolitan,2.0,Hume City Council,69 Marlborough St,PI,5070.0,4.0,-37.71829,1950.0,Fawkner
33053,NaN,NaN,h,McGrath,5.3,NaN,3070.0,27/05/2017,1360000.0,NaN,...,Northern Metropolitan,NaN,Darebin City Council,199 Clarke St,PI,11364.0,NaN,NaN,NaN,Northcote
19736,145.05300,115.0,h,hockingstuart,11.4,299.0,3163.0,6/08/2016,967500.0,1.0,...,Southern Metropolitan,2.0,Glen Eira City Council,68 Miller St,S,7822.0,3.0,-37.89730,1930.0,Carnegie
1996,145.11160,150.0,h,Barry,13.9,664.0,3108.0,8/04/2017,1400000.0,2.0,...,Eastern Metropolitan,2.0,Manningham City Council,8 Harcourt St,PI,9028.0,4.0,-37.78950,1980.0,Doncaster
38163,144.93069,174.0,h,Brad,11.2,607.0,3046.0,9/12/2017,685000.0,2.0,...,Northern Metropolitan,1.0,Moreland City Council,60 View St,S,8870.0,4.0,-37.69633,1950.0,Glenroy
6413,NaN,NaN,t,Sotheby's,2.4,NaN,3121.0,21/10/2017,1205000.0,NaN,...,Northern Metropolitan,NaN,Yarra City Council,4/2 Union St,S,14949.0,NaN,NaN,NaN,Richmond

In [5]:
melbourne_df.isnull().sum()

Longtitude       13208
BuildingArea     34904
Type                 2
SellerG              2
Distance             4
Landsize         19563
Postcode             4
Date                 2
Price            12581
Bathroom         13627
Rooms                2
Regionname           6
Car              14477
CouncilArea          6
Address              2
Method               2
Propertycount        6
Bedroom2         13615
Lattitude        13208
YearBuilt        31927
Suburb               2
dtype: int64

In [6]:
duplicadas = melbourne_df.T.duplicated()

# Mostrar las columnas duplicadas (si existen)
columnas_duplicadas = melbourne_df.columns[duplicadas].tolist()

if columnas_duplicadas:
    print("Las siguientes columnas son duplicadas:", columnas_duplicadas)
else:
    print("No hay columnas duplicadas en el dataset.")

No hay columnas duplicadas en el dataset.

In [7]:
# Filtrar columnas duplicadas cuyo nombre finaliza con un espacio en blanco
columnas_con_espacio = list(filter(lambda col: col.endswith(" "), columnas_duplicadas))

# Mostrar las columnas identificadas
print("Columnas a eliminar:", columnas_con_espacio)

Columnas a eliminar: []

In [8]:

# Contar valores nulos estándar (NaN o pd.NA)
nulos_estandar = melbourne_df.isnull().sum()

# Contar valores sospechosos que podrían representar nulos
valores_sospechosos = ["?", "NA", "N/A", "-", "None", "", " "]

nulos_no_estandar = {valor: (melbourne_df == valor).sum().sum() for valor in valores_sospechosos}

# Mostrar resultados
print("Valores nulos detectados por pandas:\n", nulos_estandar[nulos_estandar > 0])
print("Posibles valores nulos mal representados:")
for valor, cantidad in nulos_no_estandar.items():
    if cantidad > 0:
        print(f"'{valor}': {cantidad} ocurrencias")

Valores nulos detectados por pandas:
 Longtitude       13208
BuildingArea     34904
Type                 2
SellerG              2
Distance             4
Landsize         19563
Postcode             4
Date                 2
Price            12581
Bathroom         13627
Rooms                2
Regionname           6
Car              14477
CouncilArea          6
Address              2
Method               2
Propertycount        6
Bedroom2         13615
Lattitude        13208
YearBuilt        31927
Suburb               2
dtype: int64
Posibles valores nulos mal representados:

In [9]:
melbourne_df.drop(columns = ['Address','Postcode','Lattitude','Longtitude', 'Distance'] , inplace = True)
melbourne_df.sample(10)

,BuildingArea,Type,SellerG,Landsize,Date,Price,Bathroom,Rooms,Regionname,Car,CouncilArea,Method,Propertycount,Bedroom2,YearBuilt,Suburb
21340,NaN,h,Nelson,192.0,3/06/2017,NaN,3.0,3.0,Northern Metropolitan,2.0,Yarra City Council,S,2954.0,3.0,NaN,Clifton Hill
51963,NaN,h,Barry,NaN,18/11/2017,706000.0,NaN,3.0,Western Metropolitan,NaN,Brimbank City Council,S,14042.0,NaN,NaN,St Albans
1202,168.0,h,Noel,746.0,17/03/2018,NaN,2.0,4.0,Eastern Metropolitan,2.0,Maroondah City Council,PI,7785.0,4.0,1970.0,Ringwood
7518,NaN,h,Nelson,823.0,11/11/2017,1050000.0,2.0,4.0,Northern Metropolitan,4.0,Moreland City Council,VB,2651.0,4.0,NaN,Oak Park
47409,393.0,h,Nelson,845.0,8/10/2016,NaN,4.0,5.0,Western Metropolitan,2.0,Moonee Valley City Council,S,9264.0,5.0,1990.0,Essendon
25387,275.0,h,Barry,NaN,7/10/2017,945000.0,2.0,3.0,Northern Metropolitan,2.0,Darebin City Council,S,1414.0,3.0,1960.0,Kingsbury
24167,NaN,h,Buxton,NaN,27/05/2017,1590000.0,NaN,5.0,Southern Metropolitan,NaN,Bayside City Council,SP,2356.0,NaN,NaN,Hampton East
46042,144.0,h,Sweeney,530.0,21/10/2017,490000.0,2.0,3.0,Western Metropolitan,0.0,Wyndham City Council,SP,16166.0,3.0,1992.0,Werribee
48539,NaN,h,Rendina,222.0,27/06/2016,1683000.0,2.0,3.0,Western Metropolitan,2.0,Moonee Valley City Council,SP,6232.0,3.0,1880.0,Moonee Ponds
2861,170.0,h,O'Brien,413.0,24/06/2017,920000.0,2.0,4.0,South-Eastern Metropolitan,2.0,Kingston City Council,S,3650.0,4.0,1975.0,Mordialloc

In [10]:
melbourne_df.dropna(subset = ['Suburb','Method','Regionname','Rooms','Date',
                   'Type','CouncilArea','Propertycount', 'SellerG'] , inplace = True)

In [11]:
melbourne_df.sample(10)

,BuildingArea,Type,SellerG,Landsize,Date,Price,Bathroom,Rooms,Regionname,Car,CouncilArea,Method,Propertycount,Bedroom2,YearBuilt,Suburb
12428,NaN,h,Nelson,NaN,3/12/2016,960000.0,NaN,4.0,Eastern Metropolitan,NaN,Banyule City Council,VB,3540.0,NaN,NaN,Rosanna
21862,146.0,t,Marshall,104.0,17/06/2017,1388000.0,2.0,3.0,Southern Metropolitan,2.0,Melbourne City Council,S,8648.0,3.0,2015.0,Port Melbourne
47291,113.0,u,MICM,0.0,17/06/2017,740000.0,1.0,2.0,Northern Metropolitan,1.0,Melbourne City Council,VB,17496.0,2.0,1999.0,Melbourne
2092,138.0,h,Jellis,732.0,8/04/2017,1800000.0,1.0,3.0,Southern Metropolitan,3.0,Boroondara City Council,SP,10412.0,3.0,1950.0,Glen Iris
40176,NaN,h,O'Brien,NaN,10/02/2018,1175000.0,NaN,5.0,Eastern Victoria,NaN,Casey City Council,S,17093.0,NaN,NaN,Berwick
57559,NaN,h,Gary,210.0,8/04/2017,1305000.0,1.0,2.0,Southern Metropolitan,1.0,Stonnington City Council,SP,7717.0,2.0,NaN,Prahran
33794,120.0,h,Ray,528.0,17/09/2016,609000.0,1.0,3.0,Northern Metropolitan,4.0,Hume City Council,S,5070.0,3.0,1965.0,Fawkner
48227,248.0,h,hockingstuart,400.0,9/09/2017,730000.0,2.0,4.0,Northern Metropolitan,2.0,Whittlesea City Council,PI,2940.0,4.0,2012.0,Wollert
41813,180.0,h,Miles,585.0,22/04/2017,932500.0,2.0,4.0,Northern Metropolitan,2.0,Banyule City Council,S,2329.0,4.0,1950.0,Watsonia
1585,NaN,u,Anderson,0.0,8/04/2017,285000.0,1.0,1.0,Southern Metropolitan,1.0,Glen Eira City Council,S,7822.0,1.0,NaN,Carnegie

In [12]:
melbourne_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57764 entries, 0 to 57769
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   BuildingArea   22866 non-null  float64
 1   Type           57764 non-null  object
 2   SellerG        57764 non-null  object
 3   Landsize       38207 non-null  float64
 4   Date           57764 non-null  object
 5   Price          45185 non-null  float64
 6   Bathroom       44143 non-null  float64
 7   Rooms          57764 non-null  float64
 8   Regionname     57764 non-null  object
 9   Car            43293 non-null  float64
 10  CouncilArea    57764 non-null  object
 11  Method         57764 non-null  object
 12  Propertycount  57764 non-null  float64
 13  Bedroom2       44155 non-null  float64
 14  YearBuilt      25843 non-null  float64
 15  Suburb         57764 non-null  object
dtypes: float64(9), object(7)
memory usage: 7.5+ MB

In [13]:
print(melbourne_df["Method"].unique())

['S' 'SP' 'PI' 'W' 'SN' 'VB' 'PN' 'SA' 'SS']

In [14]:
melbourne_df.isna().sum()

BuildingArea     34898
Type                 0
SellerG              0
Landsize         19557
Date                 0
Price            12579
Bathroom         13621
Rooms                0
Regionname           0
Car              14471
CouncilArea          0
Method               0
Propertycount        0
Bedroom2         13609
YearBuilt        31921
Suburb               0
dtype: int64

## Variables categóricas

### Ordinales
 - NO HAY VARIABLES QUE SEAN ORDINALES

### Nominales
- TYPE: TIPO DE PROPIEDAD
- SELLERG: REAL STATE AGENT
- REGIONNAME: NOMBRE DE LA REGIÓN
- COUNCILAREA: GOVERNING CPUNCIL FOR THE AREA
- METHOD: MÉTODO DE VENTA
- SUBURB: NOMBRE DEL SURBURBIO

## Variables Numéricas

### Continuas
- PRICE: PRECIO DE LA PROPIEDAD EN DÓLARES AUSTRALIANOS
- BUILDINGAREA: ÁREA CONSTRUIDA DE LA PROPIEDAD EN METROS
- LANDSIZE: TAMAÑO DEL TERRENO EN METROS

### Discretas
- CAR: NÚMERO DE ESPACIOS DE ESTACIONAMIENTO
- PROPERTYCOUNT: NÚMERO DE PROPIEDADES EN EL SUBURBIO
- ROOMS: NÚMERO DE HABITACIONES
- BATHROOM: NÚMERO DE BAÑOS
- BEDROOM2: NÚMERO DE DORMITORIOS (EXTRAÍDO DE OTRA FUENTE)

## Date

- YEARBULIT: EL AÑO EN QUE FUE CONSTRUIDA LA PROPIEDAD
- DATE: FECHA EN LA QUE SE VENDIÓ LA PROPIEDAD

## Convertir los tipos de datos

In [15]:
cols_categoric = ["Type", "SellerG", "Regionname", "CouncilArea", "Method", "Suburb"]

melbourne_df[cols_categoric] = melbourne_df[cols_categoric].astype("category")

In [16]:
cols_numeric_float = ["Price", "BuildingArea", "Landsize"]

melbourne_df[cols_numeric_float] = melbourne_df[cols_numeric_float].astype("float")

In [17]:
cols_numeric_int = ["Car", "Propertycount", "Rooms", "Bathroom", "Bedroom2", "YearBuilt"]

melbourne_df[cols_numeric_int] = melbourne_df[cols_numeric_int].astype("Int64")

In [18]:
cols_datetime= ["Date"]
melbourne_df[cols_datetime] =melbourne_df[cols_datetime].astype("datetime64[ns]")

In [19]:
schema=pa.Table.from_pandas(melbourne_df).schema

## Guardar los datos

In [20]:
melbourne_df = melbourne_df.reset_index(drop=True)
# Crear el directorio si no existe
(DATA_DIR / "02_intermediate").mkdir(parents=True, exist_ok=True)

# Guardar en formato Parquet
melbourne_df.to_parquet(DATA_DIR / "02_intermediate/melbourne_type_fixed.parquet", index=False)